/*
@File: Reton Template Style

* This file contains the styling for the actual template, this
is the file you need to edit to change the look of the
template.

This files table contents are outlined below>>>>>

*******************************************
*******************************************

** - Default CSS
** - Home Demo Three CSS
** - Work Details CSS
** - Blog Details CSS
** - Service Details CSS 
** - Demos CSS
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

$common-font: 'Open Sans', sans-serif;
$heading-font: 'Poppins', sans-serif;
$all-size: 16px;
$transition: .5s all ease;
$dark-black-color: #121212;
$main-color: #171717;
$paragraph-color: #757575;
$white-color: #fff;
$orange-color: #F68338;
$yellow-color: #FDDB3A;
$blue-color: #5C2CFF;
$pink-color: #ED2C66;
$grey-color: #B7B7B7;
$green-color: #4BFFA5;
$dark-green-color: #33CC80;

/*----- Default CSS -----*/
body {
    font-family: $common-font;
    color: $paragraph-color;
    background-color: #fff;
    font-size: $all-size;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: $main-color;
    font-family: $heading-font;
}
p {
    line-height: 1.7;
}
a {
    transition: $transition;

    &:hover {
        text-decoration: none;
    }
}
img {
    max-width: 100%;
}
.d-table {
    width: 100%;
    height: 100%;
}
.d-table-cell {
    vertical-align: middle;
}
.ptb-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}
.pt-100 {
    padding-top: 100px;
}
.pb-70 {
    padding-bottom: 70px;
}
.pb-100 {
    padding-bottom: 100px;
}
button {
    &:focus{
        outline: 0;
    }
}
.btn.focus, .btn:focus {
    box-shadow: none;
}
.common-btn {
    display: inline-block;
    font-weight: 600;
    color: $orange-color;
    border: 2px solid $orange-color;
    padding: 12px 25px;
    font-size: 15px;
    position: relative;
    z-index: 1;

    &:before {
        position: absolute;
        content: '';
        width: 0;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $orange-color;
        transition: $transition;
        z-index: -1;
        border: {
            top: 2px solid $white-color;
            left: 2px solid $white-color;
            bottom: 2px solid $white-color;
        }
    }
    &:after {
        position: absolute;
        content: '';
        width: 0;
        height: 100%;
        top: 0;
        right: 0;
        background-color: $orange-color;
        transition: $transition;
        z-index: -1;
        border: {
            top: 2px solid $white-color;
            right: 2px solid $white-color;
            bottom: 2px solid $white-color;
        }
    }
    &:hover {
        color: $white-color;

        &:before {
            width: 50%;
        }
        &:after {
            width: 50%;
        }
    }
}
.common-btn.three {
    color: $green-color;
    border: 2px solid $green-color;

    &:before {
        background-color: $green-color;
        border-top: 2px solid $green-color;
        border-left: 2px solid $green-color;
        border-bottom: 2px solid $green-color;
    }
    &:after {
        background-color: $green-color;
        border-top: 2px solid $green-color;
        border-right: 2px solid $green-color;
        border-bottom: 2px solid $green-color;
    }
    &:hover {
        color: $main-color;
    }
}
.section-title {
    margin-bottom: 40px;
    position: relative;
    z-index: 1; 

    .sub-title {
        display: block;
        color: $orange-color;
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 15px;
        position: relative;
        padding-left: 40px;

        &:before {
            position: absolute;
            content: '';
            width: 30px;
            height: 2px;
            top: 11px;
            left: 0;
            background-color: $orange-color;
        }
    }
    h2 {
        margin-bottom: 0;
        font-size: 40px;
        line-height: 1.4;

        span {
            color: $orange-color;
        }
    }
    p {
        margin-top: 12px;
        margin-bottom: 0;
    }
}
.section-title.three {
    .sub-title {
        color: $green-color;

        &:before {
            background-color: $green-color;
        }
    }
    h2 {
        color: $white-color;

        span {
            color: $green-color;
        }
    }
    p {
        color: #B7B7B7;
    }
}
.border-bottom-two {
    border-bottom: 1px solid #ececec29 !important;
}

/*----- Home Demo One CSS -----*/

.navbar-toggler {
    border: none;
    background: #eee !important;
    padding: 10px;
    border-radius: 0;

    .icon-bar {
        width: 28px;
        transition: all 0.3s;
        background: $main-color;
        height: 2px;
        display: block;
    }
    .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
        left: 4px;
        position: relative;
    }
    .middle-bar {
        opacity: 0;
        margin: 6px 0;
    }
    .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
        left: 4px;
        position: relative;
    }
    &.collapsed { 
        .top-bar {
            transform: rotate(0);      
            left: 0;
        }
        .middle-bar {
            opacity: 1;
        }
        .bottom-bar {
            transform: rotate(0);
            left: 0;
        }
    }
}

/*-- Main Area --*/
.main-area {
    .container {
        max-width: 650px;
    }
    .main-left-img {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 5;
        width: 500px;
        height: 100%;
        background-image: url('../images/banner/banner-main1.jpg');
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;

        img {
            display: none;
        }
    }
    .main-content {
        padding-left: 500px;

        &.two {
            padding-left: 365px;
        }
    }
}

@media only screen and (min-width: 992px) { 
    .main-area {
        .container {
            max-width: 850px;
        }
    }
}

/*-- Banner --*/
.banner-area {
    height: 900px;
    position: relative;
    overflow: hidden;

    .banner-content {
        margin-top: 50px;

        h1 {
            font-size: 80px;
            margin-bottom: 10px; 
        }
        p {
            margin-bottom: 25px;

            span {
                display: inline-block;
                font-weight: 600;
                color: $orange-color;
            }
        }
        .banner-btn-area {
            margin-bottom: 25px;

            .banner-btn {
                color: $white-color;
                margin-left: 15px;

                &:before {
                    width: 50%;
                }
                &:after {
                    width: 50%;
                }
                &:hover {
                    color: $orange-color;

                    &:before {
                        width: 0;
                    }
                    &:after {
                        width: 0;
                    }
                }
            }
        }
        ul {
            padding: 0;
            margin: 0;
            li {
                list-style-type: none;
                display: inline-block;
                margin-right: 15px;

                &:last-child {
                    margin-right: 0;
                }
                &:nth-child(2) {
                    a {
                        color: #00acee ;
                    }
                }
                &:nth-child(3) {
                    a {
                        color: #0e76a8 ;
                    }
                }
                &:nth-child(4) {
                    a {
                        color: #053eff  ;
                    }
                }
                &:nth-child(5) {
                    a {
                        color: #ea4c89   ;
                    }
                }
                a {
                    display: block;
                    color: $main-color;
                    font-size: 22px;
                    color: #3b5998;

                    &:hover {
                        transform: translate(0, -5px);
                    }
                }
            }
        }
    }
}

/*-- About --*/
.about-area {
    position: relative;
    overflow: hidden;
    
    .about-content {
        .section-title {
            margin-bottom: 20px;
        }
        .left {
            ul {
                padding: 0;
                margin: 0;
                list-style-type: none;
                li {
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
        .right {
            ul {
                padding: 0;
                margin: 0;
                list-style-type: none;
                li {
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
            li {
                list-style-type: none;
                display: block;
                margin-bottom: 12px;
            
                span {
                    display: inline-block;
                    color: $main-color;
                    font-weight: 600;
                    margin-right: 3px;
                }
                a {
                    display: inline-block;
                    color: $paragraph-color;

                    &:hover {
                        color: $orange-color;
                    }
                }
            }
        }
    }
}

/*-- What --*/
.what-area {
    position: relative;
    overflow: hidden;
    
    .common-right-text {
        top: 340px;
        right: -175px;
    }
}
.what-item {
    height: 100%;
    text-align: center;

    .icon {
        color: $orange-color;
        display: inline-block;
        margin-bottom: 18px;
        font-size: 40px;
        line-height: 40px;
    }
    h3 {
        margin-bottom: 10px;
        font-size: 20px;

        a {
            color: $main-color;

            &:hover {
                color: $orange-color;
            }
        }
    }
    span {
        color: $white-color;
    }
    p {
        margin-bottom: 12px;
    }
    .what-btn {
        display: inline-block;
        color: $orange-color;
        font-weight: 600;
        font-size: 15px;

        i {
            display: inline-block;
            font-size: 14px;
            position: relative;
            top: 0px;
            left: 6px;
            transition: $transition;
        }
        &:hover {
            color: $main-color;

            i {
                left: 2px;
            }
        }
    }
}

/*-- Experience --*/
.experience-area {
    position: relative;
    overflow: hidden;

    .common-right-text {
        top: 375px;
        right: -310px;
    }
    .experience-content {
        h3 {
            color: $white-color;
        }
        .experience-inner {
            margin-bottom: 30px;

            ul {
                display: flex;
                flex-wrap: wrap;
                padding: 0;
                margin: 0;
                
                li {
                    list-style-type: none;
                    display: inline-block;

                    &:nth-child(1) {
                        flex: 0 0 15%;
                        max-width: 15%;
                    }
                    &:nth-child(2) {
                        flex: 0 0 30%;
                        max-width: 30%;
                        margin-left: 12px;
                    }
                    &:nth-child(3) {
                        flex: 0 0 50%;
                        max-width: 50%;
                        margin-left: 12px;
                    }
                    span {
                        display: inline-block;
                        color: $main-color;
                        font-weight: 600;
                    }
                    p {
                        margin-bottom: 0;
                    }
                }
            }
        }
        p {
            margin-bottom: 30px;
        }
    }
}

/*-- Blog --*/
.blog-area {
    position: relative;
    overflow: hidden;

    .common-right-text {
        top: 375px;
        right: -100px;
    }
}
.blog-item {
    margin-bottom: 30px;
    transition: $transition;

    &:hover {
        transform: translate(0, -10px);

        .top {
            a {
                img {
                    transform: scale(1.1);
                }
            }
        }
    }
    .top {
        position: relative;
        margin-bottom: 20px;
        overflow: hidden;

        a {
            display: block;

            img {
                width: 100%;
                transition: $transition;
            }
        }
        h4 {
            max-width: 45px;
            background-color: #F68338;
            color: #fff;
            font-size: 16px;
            position: absolute;
            top: 15px;
            left: 15px;
            text-align: center;
            padding: 5px 0 5px;

            span {
                display: inline-block;
                font-weight: 400;
            }
        }
    }
    .bottom {
        h3 {
            margin-bottom: 14px;
            font-size: 20px;

            a {
                display: inline-block;
                color: $main-color;
                line-height: 1.5;

                &:hover {
                    color: $orange-color;
                }
            }
        }
        p {
            margin-bottom: 15px;
        }
        .blog-btn {
            display: inline-block;
            color: $orange-color;
            font-weight: 600;
            font-size: 15px;

            i {
                display: inline-block;
                font-size: 13px;
                margin-left: 3px;
            }
            &:hover {
                color: $main-color;
            }
        }
    }
}

/*-- Review --*/
.review-area {
    position: relative;
    overflow: hidden;
    
    .common-right-text {
        top: 350px;
        right: -165px;
    }

    .review-item {
        text-align: center;

        i {
            display: inline-block;
            font-size: 60px;
            margin-bottom: 15px;
            margin-top: -5px;
        }
        p {
            margin-bottom: 30px;
            font-size: 18px;
        }
        img {
            width: 100px !important;
            height: 100px !important;
            margin-left: auto;
            margin-right: auto;
            border-radius: 50%;
            margin-bottom: 15px;
        }
        h3 {
            font-size: 20px;
            margin-bottom: 3px;
        }
        span {
            display: block;
            font-size: 14px;
        }
    }

    .owl-theme {
        .owl-nav {
            margin-top: 30px;
            .owl-prev, .owl-next {
                width: 35px;
                height: 35px;
                text-align: center;
                border: 1px solid $orange-color !important;
                font-size: 25px !important;
                border-radius: 0 !important;
                color: $orange-color !important;
                transition: $transition;
                background-color: transparent;
                padding: 0;
                margin: 0 5px;
        
                i {
                    line-height: 35px;
                }
                &:hover {
                    color: $white-color !important;
                    background-color: $orange-color !important;
                }
            }
        }
    }

    #carousel-placeholder {
        height: 716px;
        background-color: $grey-color;
    }
}

/*-- Contact --*/
.contact-area {
    position: relative;
    overflow: hidden;

    .common-right-text {
        top: 415px;
        right: -230px;
    }
    #contactForm {
        margin-bottom: 30px;

        .form-group {
            margin-bottom: 20px;
    
            .form-control {
                height: 50px;
                border-radius: 0;
                padding-left: 15px;
                font-size: 15px;
                background-color: #f1f1f1;
                border: 0;
    
                &:focus {
                    border: 0;
                    box-shadow: none;
                }
            }
            textarea {
                padding-top: 13px;
                height: auto !important;
            }
            #contact-hcaptcha > iframe {
                display: block;
                margin: auto;
            }
        }
        .common-btn {
            transition: $transition;
            width: 100%;
            display: block;
            text-align: center;
            opacity: 1;
            border-radius: 0;
        }
        .list-unstyled {
            font-size: 14px;
            margin-top: 10px;
            color: #dc3545;
        }
        .text-danger {
            margin-bottom: 0;
            margin-top: 10px;
            font-size: 20px;
            color: #dc3545;
        }
        .text-success {
            margin-bottom: 0;
            margin-top: 10px;
            font-size: 20px;
            color: #28a745;
        }
    }
    .contact-content {
        margin-bottom: 30px;
        
        .top {
            margin-bottom: 30px;

            ul {
                padding: 0;
                margin: 0;
                li {
                    list-style-type: none;
                    display: block;
                    margin-bottom: 15px;
    
                    &:last-child {
                        margin-bottom: 0;
                    }
                    span {
                        display: inline-block;
                        margin-right: 3px;
                        font-weight: 600;
                    }
                    a {
                        display: inline-block;
                        color: $paragraph-color;
    
                        &:hover {
                            color: $orange-color;
                        }
                    }
                }
            }
        }
        .bottom {
            ul {
                padding: 0;
                margin: 0;
                li {
                    list-style-type: none;
                    display: inline-block;
                    margin-right: 15px;
    
                    &:last-child {
                        margin-right: 0;
                    }
                    &:nth-child(2) {
                        a {
                            color: #00acee ;
                        }
                    }
                    &:nth-child(3) {
                        a {
                            color: #0e76a8 ;
                        }
                    }
                    &:nth-child(4) {
                        a {
                            color: #053eff  ;
                        }
                    }
                    &:nth-child(5) {
                        a {
                            color: #ea4c89   ;
                        }
                    }
                    a {
                        display: block;
                        color: $main-color;
                        font-size: 22px;
                        color: #3b5998;
    
                        &:hover {
                            transform: translate(0, -5px);
                        }
                    }
                }
            }
        }
    }
}

/*-- Copyright --*/
.copyright-area {
    background-color: $dark-black-color;
    padding-top: 25px;
    padding-bottom: 25px;

    .copyright-item {
        text-align: center;

        p {
            margin-bottom: 0;
            color: $main-color;

            a {
                display: inline-block;
                color: $orange-color;
                font-weight: 600;

                &:hover {
                    color: $main-color;
                }
            }
        }
    }
}
/*----- End Home Demo One CSS -----*/

/*----- Home Demo Three CSS -----*/

.body-bg-three {
    background-color: #121212;
}

/*-- Navbar --*/
.pufo-aside {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    width: 365px;
    height: 100%;
    transition: $transition;
    padding: 20px;
    text-align: center;
    border-right: 1px solid #dddddd38;
    display: block;

    .navbar-nav {
        margin-top: -35px;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        li {
            margin-bottom: 15px;
            display: block;

            &:last-child {
                margin-bottom: 0;
            }
            a {
                display: inline-block;
                color: $white-color;
                position: relative;
                font-size: 15px;
                text-transform: uppercase;

                &:hover, &.active {
                    color: $green-color;
                }
            }
        }
    }

    .logo {
        position: absolute;
        left: 0;
        right: 0;
        top: 50px;
        padding: 0;
        margin: 0;

        a {
            display: inline-block;
        }
    }
 
    .aside-footer {
        position: absolute;
        bottom: 50px;
        left: 0;
        right: 0;

        .social {
            padding-left: 0;
            list-style-type: none;
            margin-top: 25px;
            margin-bottom: 0;

            li {
                display: inline-block;
                margin-left: 5px;
                margin-right: 5px;

                a {
                    display: block;
                    font-size: 22px;
                    color: $white-color;

                    &:hover {
                        color: $green-color
                    }
                }
            }
        }
    }
}

.pufo-aside {
    .aside-show-hide {
        position: absolute;
        left: 25px;
        bottom: 0;
        z-index: 1;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        opacity: 0;
        visibility: hidden;

        span {
            display: inline-block;
            cursor: pointer;
            font-size: 35px;
            color: #ffffff;
            opacity: 0.8;
        }
    }
    &:hover {
        .aside-show-hide {
            opacity: 1;
            visibility: visible;
            left: 12px;
        }
    }
}

/*-- Banner --*/
.banner-area.three {
    position: relative;
    height: 800px;

    .common-right-text-two {
        position: absolute;
        top: 0;
        right: 25px;
        text-align: right;

        span {
            display: inline-block;
            font-weight: 700;
            font-size: 100px;
            color: #5151511a;
            line-height: 120px;
        }
    }
    .banner-content {
        position: relative;
        z-index: 2;

        h1 {
            font-size: 100px;
            color: $white-color;
            max-width: 100%;

            span {
                color: $green-color;
            }
        }
        p {
            color: $white-color;
            margin-bottom: 35px;

            span {
                color: $green-color;
            }
        }
        .banner-btn.three {
            color: $main-color;

            &:hover {
                color: $white-color;
            }
        }
    }
}

/*-- About --*/
.about-area.three {
    .section-title.three {
        p {
            color: #B7B7B7;
        }
    }
    .about-content {
        ul {
            li {
                color: #B7B7B7;
                font-size: 14px;
                span {
                    color: $white-color;
                }
                a {
                    color: #B7B7B7;

                    &:hover {
                        color: $green-color;
                    }
                }
            }
        }
    }
}

/*-- Services --*/
.what-area.three {
    .what-item {
        text-align: left;
        border: 1px solid $green-color;
        padding: 30px 30px 30px;
        transition: $transition;

        &:hover {
            transform: translate(0, -10px);
        }
        .icon {
            color: $white-color;
        }
        h3 {
            a {
                color: $white-color;

                &:hover {
                    color: $green-color;
                }
            }
        }
        p {
            color: #B7B7B7;
        }
        .what-btn {
            color: $white-color;

            &:hover {
                color: $green-color;
            }
        }
    }
}   

/*-- Experience --*/
.experience-area.three {
    .experience-content {
        .experience-inner {
            ul {
                li {
                    span {
                        color: $white-color;
                    }
                    p {
                        color: #B7B7B7;
                    }
                }
            }
        }
    }
}

/*-- Blog --*/
.blog-area.three {
    .blog-item {
        .top h4 {
            background-color: $green-color;
        }
        .bottom {
            h3 a {
                &:hover {
                    color: $green-color;
                }
            }
        }
    }
}

#blog-preview.blog-area.three {
    .blog-item {
        .bottom {
            h3 a {
                color: $white-color;
            }
            p {
                color: #B7B7B7;
            }
            .blog-btn {
                color: $green-color;

                &:hover {
                    color: $white-color;
                }
            }
        }
    }
}

#blog.blog-area.three {
    .blog-item {
        .bottom {
            h3 a {
                color: $dark-black-color;
            }
            .blog-btn {
                color: $dark-green-color;

                &:hover {
                    color: $main-color;
                }
            }
        }
    }
}

/*-- Contact --*/
.contact-area.three {
    .contact-content {
        .top {
            ul {
                li {
                    span {
                        color: $white-color;
                    }
                    a {
                        color: #B7B7B7;

                        &:hover {
                            color: $green-color;
                        }
                    }
                }
            }
        }
        .bottom {
            ul {
                li {
                    a {
                        color: $white-color;
                    }
                }
            }
        }
    }
}

/*-- Copyright --*/
.copyright-area.three {
    .copyright-item {
        p {
            color: $white-color;

            a {
                color: $green-color;

                &:hover {
                    color: $green-color;
                }
            }
        }
    }
}

/*----- End Home Demo Three CSS -----*/

/*-- Small and large masonry grids --*/
.masonry-sm, .masonry-lg {
    .grid-item {
        position: relative;
        margin-bottom: 30px;

        &:hover {
            &:before {
                opacity: .50;
            }
            .inner {
                opacity: 1;
                visibility: visible;
            }
            .overlay {
                &:before {
                    width: 80%;
                    height: 90%;
                    opacity: 1;
                }
                &:after {
                    width: 80%;
                    height: 90%;
                    opacity: 1;
                }
            }
        }
        &:before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: $green-color;
            opacity: 0;
            z-index: 1;
            transition: $transition;
        }
        img {
            width: 100%;
        }
        .inner {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            z-index: 3;
            opacity: 0;
            visibility: hidden;
            transition: $transition;

            h3 {
                margin-bottom: 0;
                font-size: 20px;

                p {
                    transition: 0.5s all ease;
                    color: $white-color;

                    &:hover {
                        letter-spacing: 1px;
                    }
                }
            }
        }
        .overlay {
            position: relative;

            &:before {
                position: absolute;
                content: '';
                width: 0%;
                height: 0%;
                top: 15px;
                left: 15px;
                border-left: 1px solid #fff;
                border-top: 1px solid #fff;
                z-index: 2;
                opacity: 0;
                transition: $transition;
            }
            &:after {
                position: absolute;
                content: '';
                width: 0%;
                height: 0%;
                bottom: 15px;
                right: 15px;
                border-right: 1px solid #fff;
                border-bottom: 1px solid #fff;
                z-index: 2;
                opacity: 0;
                transition: $transition;
            }
        }
    }

    /*For debugging masonry layout*/
    /*.grid {
        background: #DDD;
    }*/

    /* clear fix */
    .grid:after {
        content: '';
        display: block;
        clear: both;
    }

    .grid-item {
        float: left;
    }

    .grid-item img {
        display: block;
        max-width: 100%;
    }
}

/*----- Home Demo Five CSS -----*/
/*-- Navbar --*/
.lines {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    width: 90vw;
    z-index: -1;

    .line {
        position: absolute;
        top: 0;
        height: 100%;
        width: 1px;
        left: 50%;
        background: hsla(0,0%,100%,.1);
        overflow: hidden;
        transform: rotate(5deg);

        &:nth-child(1) {
            margin-left: -25%;
        }
        &:nth-child(2) {
            margin-left: -50%;
        }
        &:nth-child(3) {
            margin-left: 25%;
        }
        &:nth-child(4) {
            margin-left: 50%;
        }
        &:nth-child(5) {
            margin-left: 0%;
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            height: 10vh;
            width: 100%;
            top: -50%;
            left: 0;
            background: linear-gradient(180deg,hsla(0,0%,100%,0) 0,#fff 75%,#fff);
            animation: run 7s 0s infinite;
            animation-fill-mode: forwards;
            animation-timing-function: cubic-bezier(.4,.26,0,.97);
        }
    }
}
@keyframes run{
    0% {top:-50%}
    to {top:110%}
}

/*----- End Home Demo Five CSS -----*/

/*----- Work Details CSS -----*/
#project-brief-info > div {
    margin: auto;
    text-align: center;
}
.page-title-area {
    height: 440px;
    position: relative;
    text-align: center;
    overflow: hidden;
    border-bottom: 1px solid #eee;

    .title-content {
        margin-top: 90px;

        span {
            display: block;
            font-weight: 700;
            font-size: 110px;
            color: #dddddd26;
            position: absolute;
            left: 0;
            right: 0;
            top: 130px;
            z-index: -1;
        }
        h1 {
            font-size: 80px;
            margin-bottom: 15px;
            position: relative;
            z-index: 2;
        }
        ul {
            position: relative;
            z-index: 2;
            padding: 0;
            margin: 0;

            li {
                list-style-type: none;
                display: inline-block;
                margin-right: 20px;
                position: relative;
                &:last-child {
                    margin-right: 0;
                }

                &:before {
                    position: absolute;
                    content: '';
                    top: 12px;
                    left: 53px;
                    width: 5px;
                    height: 1px;
                    background-color: $paragraph-color;
                }
                &:last-child {
                    &:before {
                        display: none;
                    }
                }
                a {
                    display: block;
                    color: $paragraph-color;

                    &:hover {
                        color: $orange-color;
                    }
                }
            }
        }
    }
    .lines {
        .line {
            background: #75757529;

            &:after {
                background: $main-color;
            }
        }
    }
}
.work-details-area {
    .details-img { 
        .gatsby-image-wrapper {
            width: 100%;
            margin-bottom: 30px;
        }
        .details-img-inner {
            margin-bottom: 30px;

            h3 {
                font-size: 20px;
                margin-bottom: 5px;
            }
            ul {
                padding: 0;
                margin: 0;
                li {
                    list-style-type: none;
                    display: block;
                    margin-bottom: 3px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .details-description {
        padding-bottom: 30px;

        h3 {
            font-size: 20px;
            margin-bottom: 15px;
        }
        p {
            margin-bottom: 25px;

            &:last-child {
                margin-bottom: 0;
            }
        }
        .img {
            margin-bottom: 30px;
        }
    }
    .contact-area {
        margin-top: -5px;

        .section-title {
            text-align: center;
            max-width: 730px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
.details-pages {
    padding: 10px 15px;
    background-color: #f5f5f5;
    margin-bottom: 50px;

    .pages-item {
        &.two {
            text-align: center;
        }
        &.three {
            text-align: right;
        }
        .pre-project {
            display: inline-block;
            color: $main-color;

            &:hover {
                color: $orange-color;
            }
            i {
                display: inline-block;
                transform: rotate(180deg);
            }
        }
        .next-project {
            display: inline-block;
            color: $main-color;

            &:hover {
                color: $orange-color;
            }
            i {
                display: inline-block;
            }
        }
    }
}
/*----- End Work Details CSS -----*/

/*----- CMS content -----*/
div.cms-content {
    /*Added to avoid creating my own ckeditor build simply to remove post titles.*/
    h1:first-of-type {
        display: none;
    }
}
/*----- End CMS content -----*/

/*----- Blog Details CSS -----*/
.blog-details-area {
    .details-img {
        margin-bottom: 30px;

        img {
            width: 100%;
        }
    }
    .details-img-info {
        padding-bottom: 30px;

        .info {
            margin-bottom: 10px; 
            padding: 0;
            
            li {
                list-style-type: none;
                display: inline-block;
                font-size: 15px;
                margin-right: 15px;

                &:last-child {
                    margin-right: 0;
                }
                a {
                    display: inline-block;
                    color: $paragraph-color;

                    &:hover {
                        color: $orange-color;
                    }
                }
            }
        }
        h2 {
            font-size: 32px;
            margin-bottom: 15px;
        }
        p {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }
        h3 {
            font-size: 20px;
            margin-bottom: 10px;
        }
        .item {
            margin-bottom: 20px;
            padding: 0;

            li {
                list-style-type: none;
                display: block;
                margin-bottom: 8px;

                &:last-child {
                    margin-bottom: 0;
                }
                i {
                    display: inline-block;
                    color: $orange-color;
                    font-size: 16px;
                    position: relative;
                    top: 1px;
                    margin-right: 3px;
                }
            }
        }
        .img {
            margin-bottom: 20px;

            img {
                width: 100%;
            }
        }
    }
    #remark42 > iframe {
        margin: 0 !important;
    }
    .details-comments {
        padding-bottom: 50px;

        h3 {
            font-size: 20px;
            margin-bottom: 30px;

            span {
                color: $paragraph-color;
            }
        }
        ul {
            padding: 0;
            margin: 0;
            li {
                list-style-type: none;
                display: block;
                position: relative;
                padding-left: 125px;
                margin-bottom: 30px;

                &:last-child {
                    margin-bottom: 0;
                }
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                h4 {
                    font-size: 16px;
                    margin-bottom: 5px;
                }
                span {
                    display: block;
                    font-size: 15px;
                    margin-bottom: 8px;
                }
                p {
                    margin-bottom: 0;
                }
                a {
                    display: inline-block;
                    color: $main-color;
                    font-weight: 600;
                    position: absolute;
                    top: 0;
                    right: 0;

                    &:hover {
                        color: $orange-color;
                    }
                }
            }
        }
    }
    .details-leave {
        h3 {
            font-size: 20px;
            margin-bottom: 30px;
        }
        .form-group {
            margin-bottom: 15px;

            .form-control {
                height: 50px;
                border: 0;
                border-radius: 0;
                padding-left: 20px;
                font-size: 15px;
                background-color: #fafafa;

                &:focus {
                    box-shadow: none;
                    border: 0;
                }
            }
            textarea {
                height: auto !important;
                padding-top: 13px;
            }
        }
        .common-btn {
            color: $dark-green-color;
            border: 2px solid $dark-green-color;

            border-radius: 0;
            width: 100%;
            display: block;
            text-align: center;
            transition: $transition;
        
            &:before {
                background-color: $dark-green-color;
                border-top: 2px solid $dark-green-color;
                border-left: 2px solid $dark-green-color;
                border-bottom: 2px solid $dark-green-color;
            }
            &:after {
                background-color: $dark-green-color;
                border-top: 2px solid $dark-green-color;
                border-right: 2px solid $dark-green-color;
                border-bottom: 2px solid $dark-green-color;
            }
            &:hover {
                color: $main-color;
            }
        }
    }
}
.search {
    position: relative;

    .form-control {
        height: 50px;
        padding-left: 20px;
        font-size: 15px;
        background-color: #fafafa;
        border: 0;
        border-radius: 0;

        &:focus {
            box-shadow: none;
            border: 0;
        }
    }
    .btn {
        padding: 0;
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 22px;
        transition: $transition;

        &:hover {
            color: $dark-green-color;
        }
    }
}
.widget-area {
    margin-top: 30px;

    .widget-item {
        margin-bottom: 30px;

        h3 {
            font-size: 20px;
            margin-bottom: 15px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .recent {
        .recent-inner {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
            ul {
                display: flex;
                flex-wrap: wrap;
                padding: 0;
                margin: 0;

                li {
                    list-style-type: none;
                    display: inline-block;

                    &:nth-child(1) {
                        flex: 0 0 25%;
                        max-width: 25%;
                    }
                    &:nth-child(2) {
                        flex: 0 0 65%;
                        max-width: 65%;
                        margin-left: 15px;
                    }
                    h3 {
                        margin-bottom: 5px;
                        font-size: 15px;
                        line-height: 1.5;
                    }
                    a {
                        display: inline-block;
                        color: $dark-green-color;
                        font-size: 14px;

                        i {
                            font-size: 12px;
                        }

                        &:hover {
                            color: $main-color;
                        }
                    }
                }
            }
        }
    }
    .tags {
        h3 {
            margin-bottom: 7px;
        }
        ul {
            padding: 0;
                margin: 0;
            li {
                list-style-type: none;
                display: inline-block;
                margin-right: 5px;
                margin-top: 8px;

                a {
                    display: block;
                    color: $main-color;
                    background-color: #f1f1f1;
                    padding: 4px 15px;

                    &:hover {
                        color: $white-color;
                        background-color: $orange-color;
                    }
                }
            }
        }
    }
}
/*----- End Blog Details CSS -----*/

/*----- Service Details CSS -----*/
.service-details-area {
    img {
        width: 100%;
        margin-bottom: 20px;
    }
    p {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }
    h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .item {
        margin-bottom: 15px;
        padding: 0;

        li {
            list-style-type: none;
            display: block;
            margin-bottom: 8px;

            &:last-child {
                margin-bottom: 0;
            }
            i {
                display: inline-block;
                color: $orange-color;
                font-size: 16px;
                position: relative;
                top: 1px;
                margin-right: 3px;
            }
        }
    }
    .contact-area {
        .section-title {
            text-align: center;
            max-width: 730px;
            margin-left: auto;
            margin-right: auto; 
        }
    }
}
/*-- Review --*/
.review-area.three {
    .review-item {
        background-color: #050608;
        background-image: url(/static/review-bg2-baa98149569c3ad1dbf6d83d31f4aa62.png);
        box-shadow: none;
        margin: 0;
        border: 0 !important;
        padding: 40px 100px 40px;

        p {
            color: $green-color !important;
            font-weight: 600;
        }

        i {
            color: #fff;
        }

        h3 {
            color: #fff;
        }

        span {
            color: #B7B7B7;
        }
    }
    .owl-theme {
        .owl-stage {
            .owl-item {
                .review-item {
                    min-height: 650px;
                    background-position: 0 0;
                    background-size: auto clamp(100%, 650px, 650px);
                }
            }
        }

        .owl-nav {
            margin-top: 30px;

            .owl-prev, .owl-next {
                border: 1px solid $green-color !important;
                color: $green-color !important;
                background-color: transparent;
        
                &:hover {
                    color: $main-color !important;
                    background-color: $green-color !important;
                }
            }
        }
    }
}
/*----- End Service Details CSS -----*/

.top-header {
    background-color: $dark-black-color;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        text-align: right;
        li {
            display: inline-block;
            padding-left: 20px;

            a {
                color: $white-color;
                font-weight: 600;
            }
        }
    }
}

/*----- Custom 404 Page -----*/

#four-o-four-wrapper {
    display: table;
    width: 100%;
    height: 100vh;
    background-color: $dark-black-color;

    #four-o-four-content {
        display: table-cell;
        vertical-align: middle;
        text-align: center;

        h1 {
            color: $white-color;
        }
        a {
            color: $green-color;
        }
    }
}