@media only screen and (max-width : 767px) {

    /*----- Default CSS -----*/
    .pb-100 {
        padding-bottom: 50px;
    }
    .section-title {
        margin-bottom: 30px;
        text-align: center;
    
        .sub-title {
            display: inline-block;
        }
        h2 {
            font-size: 25px;
        }
    }

    /*-- Main Area --*/
    .main-area {
        .container {
            max-width: 540px;
        }
        .main-left-img {
            position: relative;
            width: 100%;
            height: 100%;
            background-image: unset;

            img {
                display: block;
                width: 100%;
            }
        }
        .main-content {
            padding-left: 0;
        }
    }

    /*-- Banner --*/
    .banner-area {
        height: 100%;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 45px;

        .banner-content {
            margin-top: 0;

            h1 {
                font-size: 40px;
                max-width: 100%;
            }
        }
    }

    /*-- Experience --*/
    .experience-area {
        text-align: center;

        .experience-content {
            .experience-inner {
                ul {
                    li {
                        &:nth-child(1) {
                            flex: 0 0 100%;
                            max-width: 100%;
                            margin-bottom: 10px;
                        }
                        &:nth-child(2) {
                            flex: 0 100%;
                            max-width: 100%;
                            margin-left: 0;
                            margin-bottom: 10px;
                        }
                        &:nth-child(3) {
                            flex: 0 0 100%;
                            max-width: 100%;
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }

    /*-- Review --*/
    .review-area {
        .review-item {
            padding: 30px 15px 30px;

            p {
                font-size: 16px;
            }
        }
    }

    /*-- Contact --*/
    .contact-area {
        .contact-content {
            text-align: center;
        }
    }
    /*----- End Home Demo One CSS -----*/

    /*-- Review --*/
    .review-area.three {
        .review-item {
            border: 5px solid #fff;
            margin: 15px;
            padding: 30px 15px 30px;
            border: 0 !important;
        }
    }

    /*----- Home Demo Three CSS -----*/
    .main-area {
        .main-content.two {
            padding-left: 0;
        }
    }
  
    /*-- Banner --*/
    .banner-area.three {
        height: 100%;
        padding-top: 140px !important;

        .common-right-text-two {
            display: none;
        }
        .banner-content {
            h1 {
                font-size: 35px;
            }
        }
    }

    /*-- Services --*/
    .what-area.three {
        .what-item {
            text-align: center;
            padding: 20px 15px 20px;
        }
    }   

    /*-- Projects --*/
    .projects-area {
        .projects-item {
            &.two {
                img {
                    height: 100%;
                }
            }
        }
    }

    /*----- End Home Demo Three CSS -----*/

    .what-item {
        h3 {
            font-size: 17px;
        }
        .what-btn {
            font-size: 14px;
        }
    }
    .review-area {
        .review-item {
            h3 {
                font-size: 17px;
            }
        }
    }
    .about-area.three {
        .about-img-three {
            margin-bottom: 30px;
        }
    }
}

@media only screen and (min-width : 768px) and (max-width : 991px) {

    /*----- Default CSS -----*/

    .pb-100 {
        padding-bottom: 70px;
    }
    .section-title {
        margin-bottom: 30px;
        text-align: center;
    
        .sub-title {
            display: inline-block;
        }
        h2 {
            font-size: 35px;
        }
        p {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    /*----- Home Demo One CSS -----*/

    /*-- Main Area --*/
    .main-area {
        .container {
            max-width: 720px;
        }
        .main-left-img {
            position: relative;
            width: 100%;
            height: 100%;
            background-image: unset;

            img {
                display: block;
                width: 100%;
            }
        }
        .main-content {
            padding-left: 0;
        }
    }

    /*-- Banner --*/
    .banner-area {
        height: 100%;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 65px;

        .banner-content {
            margin-top: 0;

            h1 {
                font-size: 55px;
                max-width: 100%;
            }
            p {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }

    /*-- Contact --*/
    .contact-area {
        .contact-content {
            text-align: center;
        }
    }

    /*----- Home Demo Two CSS -----*/

    /*-- Review --*/
    .review-area.three {
        .review-item {
            border: 5px solid #fff;
            margin: 15px;
            padding: 30px 15px 30px;
        }
    }

    /*----- Home Demo Three CSS -----*/
    .main-area {
        .main-content.two {
            padding-left: 0;
        }
    }
  
    /*-- Banner --*/
    .banner-area.three {
        height: 100%;
        padding-top: 150px !important;

        .common-right-text-two {
            display: none;
        }
        .banner-content {
            h1 {
                font-size: 45px;
            }
        }
    }

    /*-- Services --*/
    .what-area.three {
        .what-item {
            text-align: center;
        }
    }

    /*-- Projects --*/
    .projects-area {
        .projects-item {
            &.two {
                img {
                    height: 100%;
                }
            }
        }
    }

    /*-- Review --*/
    .review-area.three {
        .review-item {
            border: 0 !important;
        }
    }
    /*----- End Home Demo Three CSS -----*/

    .about-area.three {
        .about-img-three {
            margin-bottom: 30px;
        }
    }
}

@media only screen and (max-width : 991px) {
    /*-- About --*/
    .about-area {
        text-align: center;

        .about-content {
            .left {
                margin-bottom: 12px;
            }
        }
    }
}

@media only screen and (min-width : 992px) and (max-width : 1199px) {
    .pufo-aside {
        width: 280px;
    }
    .banner-area.three {
        .banner-content {
            h1 {
                font-size: 70px;
            }
        }
    }
    .main-area {
        .main-content.two {
            padding-left: 280px;
        }
    }
    .main-area {
        .main-left-img {
            width: 365px;
        }
        .main-content {
            padding-left: 365px;
        }
    }
    .section-title {
        h2 {
            font-size: 35px;
        }
    }
}

@media only screen and (min-width: 1800px) {

    .main-area {
        .main-left-img {
            width: 650px;
        }
        .main-content {
            padding-left: 650px;
        }
    }

}

@media only screen and (max-height: 896px) {
    .pufo-aside .navbar-nav li {
        margin-bottom: 0px;
    }
}

@media only screen and (max-width: 991px) {
    .banner-area.three {
        padding-top: 75px;
    }

    .pufo-aside {
        background-color: #1f1e1e;
        position: fixed;
        height: auto;
        width: 100%;
        padding: 15px;

        .logo {
            position: inherit;
        }

        .navbar-nav {
            position: inherit;
            -webkit-transform: translateY(0%);
            transform: translateY(0%);
            margin-top: 20px;

            li {
                margin-bottom: 5px;
            }
        }
        
        .aside-footer {
            position: inherit;
            margin-top: 15px;
        }
    }
    .what-item {
        h3 { 
            font-size: 18px;
        }
    }
    .what-item {
        h3 {
            font-size: 18px;
        }
    }
}

@media only screen and (min-width: 992px) {
    .pufo-aside {
        .collapse {
            display: block !important;
        }
    }
}