@import '../../global-scope/scss/variables';

/*----- Service Details CSS -----*/
.service-details-area {
    img {
        width: 100%;
        margin-bottom: 20px;
    }
    p {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }
    h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .item {
        margin-bottom: 15px;
        padding: 0;

        li {
            list-style-type: none;
            display: block;
            margin-bottom: 8px;

            &:last-child {
                margin-bottom: 0;
            }
            i {
                display: inline-block;
                color: $orange-color;
                font-size: 16px;
                position: relative;
                top: 1px;
                margin-right: 3px;
            }
        }
    }
    .contact-area {
        .section-title {
            text-align: center;
            max-width: 730px;
            margin-left: auto;
            margin-right: auto; 
        }
    }
}