map $http_upgrade $connection_upgrade {
    default upgrade;
    '' close;
}

server {
    listen ${NGINX_PORT};
    server_name www.${BASE_URL};
    rewrite ^(.*)$ ${PROTOCOL}${BASE_URL}$1 permanent;
}

server {
    listen ${NGINX_PORT};
    listen ${GATSBY_INTERNAL_STATUS_PORT};
    server_name ${BASE_URL};

    set $gatsby_service_hostname "${GATSBY_SERVICE_HOSTNAME}";

    #The gatsby web server for maxmastalerz.com
    location / {
        proxy_pass http://$gatsby_service_hostname:${GATSBY_PORT};
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

        proxy_redirect off;
    }

    location /socket.io/ {
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_http_version 1.1;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $host;
        proxy_pass http://$gatsby_service_hostname:${GATSBY_INTERNAL_STATUS_PORT};
    }

    # Strapi API and Admin
    #location /api/ {
    #    rewrite ^/api/?(.*)$ /$1 break;
    #    proxy_pass http://$strapi_service_hostname:${STRAPI_INTERNAL_PORT};
    #    proxy_http_version 1.1;
    #    proxy_set_header X-Forwarded-Host $host;
    #    proxy_set_header X-Forwarded-Server $host;
    #    proxy_set_header X-Real-IP $remote_addr;
    #    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    #    proxy_set_header X-Forwarded-Proto $scheme;
    #    proxy_set_header Host $http_host;
    #    proxy_set_header Upgrade $http_upgrade;
    #    proxy_set_header Connection "Upgrade";
    #    proxy_pass_request_headers on;
    #}
}

server {
    listen ${NGINX_PORT};
    server_name api.${BASE_URL};

    set $strapi_service_hostname "${STRAPI_SERVICE_HOSTNAME}";

    location / {
        rewrite ^/?(.*)$ /$1 break;
        proxy_pass http://$strapi_service_hostname:${STRAPI_INTERNAL_PORT};
        proxy_http_version 1.1;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Server $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header Host $http_host;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
        proxy_pass_request_headers on;
    }
}

# where does the elb-status check go? needed?

server {
    listen 80 default_server;
    location /elb-status {
        access_log off;
        return 200;
        add_header Content-Type text/plain;
    }
}

server {
    listen      80;
    server_name remark42.${BASE_URL};

    gzip on;
    gzip_types text/plain application/json text/css application/javascript application/x-javascript text/javascript text/xml application/xml application/rss+xml application/atom+xml application/rdf+xml;
    gzip_min_length 1000;
    gzip_proxied any;

    set $remark42_service_hostname "${REMARK42_SERVICE_HOSTNAME}";
    set $gatsby_service_hostname "${GATSBY_SERVICE_HOSTNAME}";

    location ~ /\.git {
        deny all;
    }

    #TODO: /index.html Doesn't seem to work currently. Check out proxy_redirect? Also add (?!index\.html) to the route below
    location /index.html {
        proxy_redirect          off;
        proxy_set_header        X-Real-IP $remote_addr;
        proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header        Host $http_host;
        proxy_pass              http://$remark42_service_hostname:${REMARK42_PORT}/web/index.html;
    }

    #Match /... except for /web-orig/...
    location ~ ^/((?!web-orig).*)$ {
        proxy_redirect          off;
        proxy_set_header        X-Real-IP $remote_addr;
        proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header        Host $http_host;
        proxy_pass              http://$remark42_service_hostname:${REMARK42_PORT}/$1$is_args$args;
    }

    location = /web/remark.css {
        proxy_pass http://$gatsby_service_hostname:${GATSBY_PORT}/remark-updated.css;
    }

    location ~ ^/web-orig/(.*)$ {
        proxy_pass http://$remark42_service_hostname:${REMARK42_PORT}/web/$1$is_args$args;
    }

    access_log   /var/log/nginx/remark42.log;
}