@import '../global-scope/variables';

.border-bottom-two {
    border-bottom: 1px solid #ececec29 !important;
}

.main-area {
    .main-content {
        padding-left: 365px;
    }
}

.banner-area {
    height: 800px;
    position: relative;
    overflow: hidden;

    .banner-content {
        position: relative;
        z-index: 2;
        margin-top: 50px;

        p {
            color: $white-color;
            margin-bottom: 35px;

            span {
                display: inline-block;
                font-weight: 600;
                color: $green-color;
            }
        }

        h1 {
            font-size: 100px;
            color: $white-color;
            max-width: 100%;
            margin-bottom: 10px;
            span {
                color: $green-color;
            }
        }
        .banner-btn-area {
            margin-bottom: 25px;
        }
        ul {
            padding: 0;
            margin: 0;
            li {
                list-style-type: none;
                display: inline-block;
                margin-right: 15px;

                &:last-child {
                    margin-right: 0;
                }
                &:nth-child(2) {
                    a {
                        color: #00acee ;
                    }
                }
                &:nth-child(3) {
                    a {
                        color: #0e76a8 ;
                    }
                }
                &:nth-child(4) {
                    a {
                        color: #053eff  ;
                    }
                }
                &:nth-child(5) {
                    a {
                        color: #ea4c89   ;
                    }
                }
                a {
                    display: block;
                    color: $main-color;
                    font-size: 22px;
                    color: #3b5998;

                    &:hover {
                        transform: translate(0, -5px);
                    }
                }
            }
        }
    }

    .common-right-text-two {
        position: absolute;
        top: 0;
        right: 25px;
        text-align: right;

        span {
            display: inline-block;
            font-weight: 600;
            font-size: 100px;
            color: #5151511a;
            line-height: 120px;
        }
    }
}

.navbar-toggler {
    border: none;
    background: #eee !important;
    padding: 10px;
    border-radius: 0;

    .icon-bar {
        width: 28px;
        transition: all 0.3s;
        background: $main-color;
        height: 2px;
        display: block;
    }
    .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
        left: 4px;
        position: relative;
    }
    .middle-bar {
        opacity: 0;
        margin: 6px 0;
    }
    .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
        left: 4px;
        position: relative;
    }
    &.collapsed { 
        .top-bar {
            transform: rotate(0);      
            left: 0;
        }
        .middle-bar {
            opacity: 1;
        }
        .bottom-bar {
            transform: rotate(0);
            left: 0;
        }
    }
}

.pb-100 {
    padding-bottom: 100px;
}

.section-title {
    margin-bottom: 40px;
    position: relative;
    z-index: 1; 

    .sub-title {
        display: block;
        color: $green-color;
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 15px;
        position: relative;
        padding-left: 40px;

        &:before {
            position: absolute;
            content: '';
            width: 30px;
            height: 2px;
            top: 11px;
            left: 0;
            background-color: $green-color;
        }
    }
    h2 {
        margin-bottom: 0;
        font-size: 40px;
        line-height: 1.4;
        color: $white-color;

        span {
            color: $green-color;
        }
    }
    p {
        margin-top: 12px;
        margin-bottom: 0;
        color: #B7B7B7;
    }
}

.about-area {
    position: relative;
    overflow: hidden;

    .section-title {
        p {
            color: #B7B7B7;
        }
    }
    .about-content {
        .section-title {
            margin-bottom: 20px;
        }
        .left {
            ul {
                padding: 0;
                margin: 0;
                list-style-type: none;
                li {
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
        .right {
            ul {
                padding: 0;
                margin: 0;
                list-style-type: none;
                li {
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
            li {
                list-style-type: none;
                display: block;
                margin-bottom: 12px;
                color: #B7B7B7;
                font-size: 14px;
            
                span {
                    display: inline-block;
                    font-weight: 600;
                    margin-right: 3px;
                    color: $white-color;
                }
                a {
                    display: inline-block;
                    color: #B7B7B7;

                    &:hover {
                        color: $green-color;
                    }
                }
            }
        }
    }
}

.what-area {
    position: relative;
    overflow: hidden;
    .what-item {
        text-align: left;
        border: 1px solid $green-color;
        padding: 30px 30px 30px;
        transition: $transition;

        &:hover {
            transform: translate(0, -10px);
        }
        .icon {
            color: $white-color;
        }
        h3 {
            a {
                color: $white-color;

                &:hover {
                    color: $green-color;
                }
            }
        }
        p {
            color: #B7B7B7;
        }
        .what-btn {
            color: $white-color;

            &:hover {
                color: $green-color;
            }
        }
    }
}

.what-item {
    height: 100%;
    text-align: center;

    .icon {
        color: $orange-color;
        display: inline-block;
        margin-bottom: 18px;
        font-size: 40px;
        line-height: 40px;
    }
    h3 {
        margin-bottom: 10px;
        font-size: 20px;

        a {
            color: $main-color;

            &:hover {
                color: $orange-color;
            }
        }
    }
    span {
        color: $white-color;
    }
    p {
        margin-bottom: 12px;
    }
    .what-btn {
        display: inline-block;
        color: $orange-color;
        font-weight: 600;
        font-size: 15px;

        i {
            display: inline-block;
            font-size: 14px;
            position: relative;
            top: 0px;
            left: 6px;
            transition: $transition;
        }
        &:hover {
            color: $main-color;

            i {
                left: 2px;
            }
        }
    }
}

.experience-area {
    position: relative;
    overflow: hidden;

    .container {
        color: #B7B7B7;
    }
    .experience-content {
        h3 {
            color: $white-color;
        }
        .experience-inner {
            margin-bottom: 30px;

            ul {
                display: flex;
                flex-wrap: wrap;
                padding: 0;
                margin: 0;
                
                li {
                    list-style-type: none;
                    display: inline-block;

                    &:nth-child(1) {
                        flex: 0 0 15%;
                        max-width: 15%;
                    }
                    &:nth-child(2) {
                        flex: 0 0 30%;
                        max-width: 30%;
                        margin-left: 12px;
                    }
                    &:nth-child(3) {
                        flex: 0 0 50%;
                        max-width: 50%;
                        margin-left: 12px;
                    }
                    span {
                        display: inline-block;
                        color: $white-color;
                        font-weight: 600;
                    }
                    p {
                        margin-bottom: 0;
                    }
                }
            }
        }
        p {
            margin-bottom: 30px;
        }
    }
}

#index-page-projects-placeholder {
    /*For desktop touch users(odd people) that can tap the nav link without a hover, this height is a good estimate to send them
    to the right scroll location. Regular users(mobile,tablet,desktop mouse) won't have this problem as we have ways of detecting
    when they're about to use the menu scrolling actions. - The struggles of lazy loading dyanmically sized content*/
    height: 761px;
    line-height: 761px;
    margin-bottom: 30px;
    background-color: $grey-color;
    color: $white-color;
    text-align: center;
    font-size: 2rem;
}

.review-area {
    position: relative;
    overflow: hidden;

    .review-item {
        text-align: center;
        background-color: #050608;
        background-image: url('../../images/review/review-bg2.png');
        box-shadow: none;
        margin: 0;
        border: 0 !important;
        padding: 40px 100px 40px;

        i {
            display: inline-block;
            font-size: 60px;
            margin-bottom: 15px;
            margin-top: -5px;
            color: #fff;
        }
        p {
            margin-bottom: 30px;
            font-size: 18px;
            color: $green-color !important;
            font-weight: 600;
        }
        img {
            width: 100px !important;
            height: 100px !important;
            margin-left: auto;
            margin-right: auto;
            border-radius: 50%;
            margin-bottom: 15px;
        }
        h3 {
            font-size: 20px;
            margin-bottom: 3px;
            color: #fff;
        }
        span {
            display: block;
            font-size: 14px;
            color: #B7B7B7;
        }
    }

    .owl-theme {
        .owl-stage {
            .owl-item {
                .review-item {
                    min-height: 680px;
                    background-position: 0 0;
                    background-size: auto clamp(100%, 680px, 680px);
                }
            }
        }
        .owl-nav {
            margin-top: 30px;
            .owl-prev, .owl-next {
                width: 35px;
                height: 35px;
                text-align: center;
                font-size: 25px !important;
                border-radius: 0 !important;
                transition: $transition;
                padding: 0;
                margin: 0 5px;
                border: 1px solid $green-color !important;
                color: $green-color !important;
                background-color: transparent;
        
                i {
                    line-height: 35px;
                }
                &:hover {
                    color: $main-color !important;
                    background-color: $green-color !important;
                }
            }
        }
    }

    #carousel-placeholder {
        height: 716px;
        background-color: $grey-color;
    }
}

.body-bg-three {
    background-color: #121212;
}

.pufo-aside {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    width: 365px;
    height: 100%;
    transition: $transition;
    padding: 20px;
    text-align: center;
    border-right: 1px solid #dddddd38;
    display: block;

    .navbar-nav {
        margin-top: -35px;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        li {
            margin-bottom: 15px;
            display: block;

            &:last-child {
                margin-bottom: 0;
            }
            a {
                display: inline-block;
                color: $white-color;
                position: relative;
                font-size: 15px;
                text-transform: uppercase;

                &:hover, &.active {
                    color: $green-color;
                }
            }
        }
    }

    .logo {
        position: absolute;
        left: 0;
        right: 0;
        top: 50px;
        padding: 0;
        margin: 0;

        a {
            display: inline-block;
        }
    }
 
    .aside-footer {
        position: absolute;
        bottom: 50px;
        left: 0;
        right: 0;

        .social {
            padding-left: 0;
            list-style-type: none;
            margin-top: 25px;
            margin-bottom: 0;

            li {
                display: inline-block;
                margin-left: 5px;
                margin-right: 5px;

                a {
                    display: block;
                    font-size: 22px;
                    color: $white-color;

                    &:hover {
                        color: $green-color
                    }
                }
            }
        }
    }
}

#blog-preview.blog-area {
    .blog-item {
        .bottom {
            h3 a {
                color: $white-color;
            }
            p {
                color: #B7B7B7;
            }
            .blog-btn {
                color: $green-color;

                &:hover {
                    color: $white-color;
                }
            }
        }
    }
}

.contact-area {
    position: relative;
    overflow: hidden;

    #contactForm {
        margin-bottom: 30px;

        .form-group {
            margin-bottom: 20px;
    
            .form-control {
                height: 50px;
                border-radius: 0;
                padding-left: 15px;
                font-size: 15px;
                background-color: #f1f1f1;
                border: 0;
    
                &:focus {
                    border: 0;
                    box-shadow: none;
                }
            }
            textarea {
                padding-top: 13px;
                height: auto !important;
            }
        }
        .common-btn {
            transition: $transition;
            width: 100%;
            display: block;
            text-align: center;
            opacity: 1;
            border-radius: 0;
        }
    }
    .contact-content {
        margin-bottom: 30px;
        
        .top {
            margin-bottom: 30px;

            ul {
                padding: 0;
                margin: 0;
                li {
                    list-style-type: none;
                    display: block;
                    margin-bottom: 15px;
    
                    &:last-child {
                        margin-bottom: 0;
                    }
                    span:first-child {
                        color: $white-color;
                        display: inline-block;
                        margin-right: 3px;
                        font-weight: 600;
                    }
                    a {
                        display: inline-block;
                        color: #B7B7B7;

                        &:hover {
                            color: $green-color;
                        }
                    }
                }
            }
        }
        .bottom {
            ul {
                padding: 0;
                margin: 0;
                li {
                    list-style-type: none;
                    display: inline-block;
                    margin-right: 15px;
    
                    &:last-child {
                        margin-right: 0;
                    }
                    a {
                        display: block;
                        color: $white-color;
                        font-size: 22px;
    
                        &:hover {
                            transform: translate(0, -5px);
                        }
                    }
                }
            }
        }
    }
}

#liameym1 span:first-child, #liameym2 span:first-child {
    unicode-bidi:bidi-override; direction: rtl;
}
#liameym1 span[role='button'], #liameym2 span[role='button'] {
    display: inline-block;
    color: #B7B7B7;
    font-weight: 400;
    &:hover {
        cursor: pointer;
        color: $green-color;
    }
}
