@media only screen and (max-width : 767px) {
    .pb-100 {
        padding-bottom: 50px;
    }
    .section-title {
        margin-bottom: 30px;
        text-align: center;
    
        .sub-title {
            display: inline-block;
        }
        h2 {
            font-size: 25px;
        }
    }

    .main-area {
        .container {
            max-width: 540px;
        }
    }

    .banner-area {
        height: 100%;
        text-align: center;
        padding-bottom: 45px;
        padding-top: 140px !important;

        .banner-content {
            margin-top: 0;

            h1 {
                font-size: 35px;
                max-width: 100%;
            }
        }
        .common-right-text-two {
            display: none;
        }
    }

    .experience-area {
        text-align: center;

        .experience-content {
            .experience-inner {
                ul {
                    li {
                        &:nth-child(1) {
                            flex: 0 0 100%;
                            max-width: 100%;
                            margin-bottom: 10px;
                        }
                        &:nth-child(2) {
                            flex: 0 100%;
                            max-width: 100%;
                            margin-left: 0;
                            margin-bottom: 10px;
                        }
                        &:nth-child(3) {
                            flex: 0 0 100%;
                            max-width: 100%;
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }

    .contact-area {
        .contact-content {
            text-align: center;
        }
    }

    .review-area {
        .review-item {
            border: 5px solid #fff;

            p {
                font-size: 16px;
            }
        }
        h3 {
            font-size: 17px;
        }
    }

    .what-area {
        .what-item {
            text-align: center;
            padding: 20px 15px 20px;
        }
    }

    .what-item {
        h3 {
            font-size: 17px;
        }
        .what-btn {
            font-size: 14px;
        }
    }
}

@media only screen and (min-width : 768px) and (max-width : 991px) {
    .pb-100 {
        padding-bottom: 70px;
    }
    .section-title {
        margin-bottom: 30px;
        text-align: center;
    
        .sub-title {
            display: inline-block;
        }
        h2 {
            font-size: 35px;
        }
        p {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .main-area {
        .container {
            max-width: 720px;
        }
    }

    .banner-area {
        height: 100%;
        text-align: center;
        padding-top: 150px !important;
        padding-bottom: 65px;

        .common-right-text-two {
            display: none;
        }

        .banner-content {
            margin-top: 0;

            h1 {
                font-size: 45px;
                max-width: 100%;
            }
            p {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }

    .contact-area {
        .contact-content {
            text-align: center;
        }
    }

    .what-area {
        .what-item {
            text-align: center;
        }
    }
}

@media only screen and (max-width : 991px) {
    .about-area {
        text-align: center;
        
        .about-img-three {
            margin-bottom: 30px;
        }

        .about-content {
            .left {
                margin-bottom: 12px;
            }
        }
    }

    .main-area {
        .main-content {
            padding-left: 0;
        }
    }

    .review-area {
        .review-item {
            border: 0 !important;
            margin: 15px;
            padding: 30px 15px 30px;
        }
    }
}

@media only screen and (min-width : 992px) and (max-width : 1199px) {
    .pufo-aside {
        width: 280px;
    }
    .banner-area {
        .banner-content {
            h1 {
                font-size: 70px;
            }
        }
    }
    .main-area {
        .main-content {
            padding-left: 280px;
        }
    }
    .section-title {
        h2 {
            font-size: 35px;
        }
    }
}

@media only screen and (max-height: 896px) {
    .pufo-aside .navbar-nav li {
        margin-bottom: 0px;
    }
}

@media only screen and (max-width: 991px) {
    .banner-area {
        padding-top: 75px;
    }

    .pufo-aside {
        background-color: #1f1e1e;
        position: fixed;
        height: auto;
        width: 100%;
        padding: 15px;

        .logo {
            position: inherit;
        }

        .navbar-nav {
            position: inherit;
            -webkit-transform: translateY(0%);
            transform: translateY(0%);
            margin-top: 20px;

            li {
                margin-bottom: 5px;
            }
        }
        
        .aside-footer {
            position: inherit;
            margin-top: 15px;
        }
    }
    .what-item {
        h3 { 
            font-size: 18px;
        }
    }
}

@media only screen and (min-width: 992px) {
    .main-area {
        .container {
            max-width: 850px;
        }
    }
    .pufo-aside {
        .collapse {
            display: block !important;
        }
    }
}