$dark-black-color: #121212;
$main-color: #171717;
$paragraph-color: #757575;
$white-color: #fff;
$orange-color: #F68338;
$yellow-color: #FDDB3A;
$blue-color: #5C2CFF;
$pink-color: #ED2C66;
$grey-color: #B7B7B7;
$green-color: #4BFFA5;
$dark-green-color: #33CC80;

$common-font: 'Montserrat', sans-serif;
$heading-font: 'Poppins', sans-serif;
$all-size: 16px;
$transition: .5s all ease;
