/*These styles orignated/were edited from npm @fontsource/montserrat 4.5.2 & @fontsource/poppins 4.5.0*/

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: fallback;
  font-weight: 700;
  src: url('../../fonts/poppins/poppins-latin-700-normal.woff2') format('woff2');
}
