@media only screen and (max-width: 767px) {
  /*----- Default CSS -----*/
  body {
    font-size: 15px;
  }

  .ptb-100 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .pt-100 {
    padding-top: 50px;
  }

  .pb-70 {
    padding-bottom: 20px;
  }

  .pb-100 {
    padding-bottom: 50px;
  }

  .common-btn {
    padding: 8px 15px;
    font-size: 13px;
  }

  .section-title {
    margin-bottom: 30px;
    text-align: center;
  }
  .section-title .sub-title {
    display: inline-block;
  }
  .section-title h2 {
    font-size: 25px;
  }

  /*-- Main Area --*/
  .main-area .container {
    max-width: 540px;
  }
  .main-area .main-left-img {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: unset;
  }
  .main-area .main-left-img img {
    display: block;
    width: 100%;
  }
  .main-area .main-content {
    padding-left: 0;
  }

  /*-- Banner --*/
  .banner-area {
    height: 100%;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 45px;
  }
  .banner-area .banner-content {
    margin-top: 0;
  }
  .banner-area .banner-content h1 {
    font-size: 40px;
    max-width: 100%;
  }

  /*-- Experience --*/
  .experience-area {
    text-align: center;
  }
  .experience-area .experience-content .experience-inner ul li:nth-child(1) {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 10px;
  }
  .experience-area .experience-content .experience-inner ul li:nth-child(2) {
    flex: 0 100%;
    max-width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
  }
  .experience-area .experience-content .experience-inner ul li:nth-child(3) {
    flex: 0 0 100%;
    max-width: 100%;
    margin-left: 0;
  }

  /*-- Blog --*/
  .blog-area {
    text-align: center;
  }

  /*-- Review --*/
  .review-area .review-item {
    padding: 30px 15px 30px;
  }
  .review-area .review-item p {
    font-size: 16px;
  }

  /*-- Contact --*/
  .contact-area .contact-content {
    text-align: center;
  }

  /*----- End Home Demo One CSS -----*/
  /*-- Review --*/
  .review-area.three .review-item {
    border: 5px solid #fff;
    margin: 15px;
    padding: 30px 15px 30px;
    border: 0 !important;
  }

  /*----- Home Demo Three CSS -----*/
  .main-area .main-content.two {
    padding-left: 0;
  }

  /*-- Banner --*/
  .banner-area.three {
    height: 100%;
    padding-top: 140px !important;
  }
  .banner-area.three .common-right-text-two {
    display: none;
  }
  .banner-area.three .banner-content h1 {
    font-size: 35px;
  }

  /*-- Services --*/
  .what-area.three .what-item {
    text-align: center;
    padding: 20px 15px 20px;
  }

  /*-- Projects --*/
  .projects-area .projects-item.two img {
    height: 100%;
  }

  /*----- End Home Demo Three CSS -----*/
  /*----- Work Details CSS -----*/
  .page-title-area {
    height: 370px;
  }
  .page-title-area .title-content {
    margin-top: 100px;
  }
  .page-title-area .title-content span {
    font-size: 30px;
    top: 175px;
  }
  .page-title-area .title-content h1 {
    font-size: 30px;
  }

  .work-details-area .details-img {
    text-align: center;
  }
  .work-details-area .details-description {
    text-align: center;
  }

  .details-pages {
    text-align: center;
  }
  .details-pages .pages-item {
    text-align: center;
  }
  .details-pages .pages-item.two {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .details-pages .pages-item.three {
    text-align: center;
  }

  /*----- End Work Details CSS -----*/
  /*----- Blog Details CSS -----*/
  .blog-details-area .details-img-info .info li {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .blog-details-area .details-img-info .info li:last-child {
    margin-bottom: 0;
  }
  .blog-details-area .details-img-info h2 {
    font-size: 25px;
  }

  /*----- End Blog Details CSS -----*/
  /*----- Service Details CSS -----*/
  .service-details-area {
    text-align: center;
  }

  /*----- End Service Details CSS -----*/
  .what-item h3 {
    font-size: 17px;
  }
  .what-item .what-btn {
    font-size: 14px;
  }

  .blog-item .bottom h3 {
    font-size: 17px;
  }

  .review-area .review-item h3 {
    font-size: 17px;
  }

  .about-area.three .about-img-three {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 540px) {
  /*540 works but 575 seems to break masonry. */
  /*1 full width column*/
  .masonry-sm .grid-sizer, .masonry-sm .grid-item {
    width: 100%;
  }
}
@media only screen and (min-width: 541px) and (max-width: 991px) {
  /*541-991 works but 576-991 seems to break masonry. */
  /*2 equal width columns*/
  .masonry-sm .grid-sizer, .masonry-sm .grid-item {
    width: calc( ( 100% - 30px ) / 2 );
  }
}
@media only screen and (max-width: 575px) {
  .masonry-lg .grid-sizer, .masonry-lg .grid-item {
    width: 100%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 991px) {
  .masonry-lg .grid-sizer, .masonry-lg .grid-item {
    width: calc( ( 100% - 30px ) / 2 );
  }
}
@media only screen and (min-width: 992px) {
  .masonry-sm {
    /*5/12 and 7/12 split*/
  }
  .masonry-sm .grid-sizer {
    width: calc( (100% - 330px) / 12);
  }
  .masonry-sm .grid-item {
    width: calc( (( 100% - 40px ) / 12)*5 );
  }
  .masonry-sm .grid-item--width7-12ths {
    width: calc( (( 100% - 20px ) / 12)*7 );
  }

  .masonry-lg .grid-sizer, .masonry-lg .grid-item {
    width: calc( ( 100% - 60px ) / 3 );
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /*----- Default CSS -----*/
  body {
    font-size: 15px;
  }

  .ptb-100 {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .pt-100 {
    padding-top: 70px;
  }

  .pb-70 {
    padding-bottom: 40px;
  }

  .pb-100 {
    padding-bottom: 70px;
  }

  .common-btn {
    padding: 10px 20px;
  }

  .section-title {
    margin-bottom: 30px;
    text-align: center;
  }
  .section-title .sub-title {
    display: inline-block;
  }
  .section-title h2 {
    font-size: 35px;
  }
  .section-title p {
    padding-left: 15px;
    padding-right: 15px;
  }

  /*----- Home Demo One CSS -----*/
  /*-- Main Area --*/
  .main-area .container {
    max-width: 720px;
  }
  .main-area .main-left-img {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: unset;
  }
  .main-area .main-left-img img {
    display: block;
    width: 100%;
  }
  .main-area .main-content {
    padding-left: 0;
  }

  /*-- Banner --*/
  .banner-area {
    height: 100%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 65px;
  }
  .banner-area .banner-content {
    margin-top: 0;
  }
  .banner-area .banner-content h1 {
    font-size: 55px;
    max-width: 100%;
  }
  .banner-area .banner-content p {
    padding-left: 15px;
    padding-right: 15px;
  }

  /*-- Blog --*/
  .blog-area {
    text-align: center;
  }

  /*-- Contact --*/
  .contact-area .contact-content {
    text-align: center;
  }

  /*----- Home Demo Two CSS -----*/
  /*-- Review --*/
  .review-area.three .review-item {
    border: 5px solid #fff;
    margin: 15px;
    padding: 30px 15px 30px;
  }

  /*----- Home Demo Three CSS -----*/
  .main-area .main-content.two {
    padding-left: 0;
  }

  /*-- Banner --*/
  .banner-area.three {
    height: 100%;
    padding-top: 150px !important;
  }
  .banner-area.three .common-right-text-two {
    display: none;
  }
  .banner-area.three .banner-content h1 {
    font-size: 45px;
  }

  /*-- Services --*/
  .what-area.three .what-item {
    text-align: center;
  }

  /*-- Projects --*/
  .projects-area .projects-item.two img {
    height: 100%;
  }

  /*-- Review --*/
  .review-area.three .review-item {
    border: 0 !important;
  }

  /*----- End Home Demo Three CSS -----*/
  /*----- Work Details CSS -----*/
  .page-title-area {
    height: 370px;
  }
  .page-title-area .title-content {
    margin-top: 100px;
  }
  .page-title-area .title-content span {
    font-size: 50px;
    top: 155px;
  }
  .page-title-area .title-content h1 {
    font-size: 50px;
  }

  .work-details-area .details-img {
    text-align: center;
  }
  .work-details-area .details-description {
    text-align: center;
  }

  /*----- End Work Details CSS -----*/
  /*----- Blog Details CSS -----*/
  .blog-details-area .details-img-info .info li {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .blog-details-area .details-img-info .info li:last-child {
    margin-bottom: 0;
  }
  .blog-details-area .details-img-info h2 {
    font-size: 30px;
  }
  .blog-details-area .widget-area .recent .recent-inner ul li:nth-child(1) {
    flex: 0 0 15%;
    max-width: 15%;
  }

  /*----- End Blog Details CSS -----*/
  /*----- Service Details CSS -----*/
  .service-details-area {
    text-align: center;
  }

  /*----- End Service Details CSS -----*/
  .about-area.three .about-img-three {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 991px) {
  /*-- About --*/
  .about-area {
    text-align: center;
  }
  .about-area .about-content .left {
    margin-bottom: 12px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .pufo-aside {
    width: 280px;
  }

  .banner-area .banner-content h1 {
    font-size: 60px;
  }

  .banner-area.three .banner-content h1 {
    font-size: 70px;
  }

  .main-area .main-content.two {
    padding-left: 280px;
  }

  .main-area .main-left-img {
    width: 365px;
  }
  .main-area .main-content {
    padding-left: 365px;
  }

  .section-title h2 {
    font-size: 35px;
  }
}
@media only screen and (min-width: 1800px) {
  .main-area .main-left-img {
    width: 650px;
  }
  .main-area .main-content {
    padding-left: 650px;
  }
}
@media only screen and (max-height: 896px) {
  .pufo-aside .navbar-nav li {
    margin-bottom: 0px;
  }
}
@media only screen and (max-width: 991px) {
  .banner-area.three {
    padding-top: 75px;
  }

  .pufo-aside {
    background-color: #1f1e1e;
    position: fixed;
    height: auto;
    width: 100%;
    padding: 15px;
  }
  .pufo-aside .logo {
    position: inherit;
  }
  .pufo-aside .navbar-nav {
    position: inherit;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    margin-top: 20px;
  }
  .pufo-aside .navbar-nav li {
    margin-bottom: 5px;
  }
  .pufo-aside .aside-footer {
    position: inherit;
    margin-top: 15px;
  }

  .what-item h3 {
    font-size: 18px;
  }

  .what-item h3 {
    font-size: 18px;
  }
}
@media only screen and (min-width: 992px) {
  .pufo-aside .collapse {
    display: block !important;
  }
}

/*# sourceMappingURL=responsive.css.map */
